@mixin breakpoint($bp) {
  @if $bp == tablet {
    @media (min-width: $bp-tablet) {
      @content;
    }
  }

  @if $bp == tablethorizontal {
    @media (min-width: $bp-tablet-horizontal) {
      @content;
    }
  }

  @if $bp == desktop {
    @media (min-width: $bp-desktop) {
      @content;
    }
  }

  @if $bp == desktopxl {
    @media (min-width: $bp-desktop-xl) {
      @content;
    }
  }
}

@mixin reset-list() {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin button() {
  text-decoration: none;
  background-color: transparent;
  border-color: transparent;
  color: $white;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2.29px;
  line-height: 26px;
  border-bottom: 2px solid $green;
  padding-bottom: 12px;
  width: auto;
}

@mixin formInputs() {
  width: 100%;
  padding-bottom: 20px;
  padding-left: 24px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $white;
  color: $white;
  outline: none;
  &::placeholder {
    color: $white;
    opacity: 0.5;
  }
  &:focus,
  &:focus-visible {
    outline: none;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid $green;
  }
  &[aria-invalid="true"] {
    border-bottom: 1px solid $red;
  }
}
