$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

$black: #151515;
$charcoal: #242424;
$green: #4EE1A0;
$light-gray: #d9d9d9;
$white: #ffffff;
$red: #FF6F5B;

$primary-font: "Space Grotesk", sans-serif;
