.projects {
  .container {
    margin-top: 80px;
    padding: 0px 16px;
    @include breakpoint(tablet) {
      margin-top: 100px;
      padding: 0px 30px;
    }
    @include breakpoint(desktop) {
      margin-top: 140px;
    }
  }
  header {
    display: flex;
    justify-content:space-between;
    margin-bottom: 40px;
    @include breakpoint(tablet) {
      margin-bottom: 60px;
      align-items: flex-start;
    }
    @include breakpoint(desktop) {
      margin-bottom: 80px;
    }
    h2 {
      font-size: 40px;
      font-weight: 700;
      line-height: 40px;
      letter-spacing: -1.14px;
      @include breakpoint(tablet) {
        font-size: 72px;
        line-height: 72px;
        letter-spacing: -2.05px;
      }
      @include breakpoint(desktop) {
        font-size: 88px;
        line-height: 88px;
        letter-spacing: -2.5px;
      }
    }
  }
}

.articles_container {
  display : grid;
  grid-template-columns : 1fr;
  gap: 40px;
  margin-bottom: 80px;
  @include breakpoint(tablet) {
    grid-template-columns : 1fr 1fr;
    gap: 60px 24px;
  }
  @include breakpoint(desktop) {
    gap: 70px 30px;
    margin-bottom: 140px;
  }
}