html * {
    font-family: $primary-font;
}

body {
    background-color: $black;
    color: $white;
    align-items: center;
    .container {
      max-width: $max-width;
      margin: 0 auto;
    }
} 

.social-link :hover {
  color: $green;
}

